name: support and resistance

on:
  workflow_dispatch:

  schedule:
    - cron: '0 5 * * *'  # 7 صباحًا بتوقيت مصر
    - cron: '0 6 * * *'  # 8 صباحًا بتوقيت مصر

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: support and resistance 
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python support and resistance.py

      - name: Commit last signals
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add last_signals.json
          git diff --cached --quiet || git commit -m "Update last signals [auto]"
          git push
